@import '~bootstrap/scss/bootstrap';

body {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background: url('./background/Background2.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: cursive;
  color: #fff;
  text-align: center;
}

p {
font-family: sans-serif;
color: #fff;
margin-top: 50px;
line-height: 30px;
font-size: 18px;
}

.image {
  display: block;
  margin: 0 auto;
}

 h2 {
margin-top: 50px;
font-size: 60px;
}

h1 {
  margin: 40px auto;
  padding-bottom: 10px
}

.list-group {
  opacity: 0.7
}

.image {
  width: 500px;
  height: auto;
}

.mr-2 {
  margin-right: 1rem !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  // margin-left: 1rem !important;
}

.btn {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.navbar-expand-md .navbar-nav .nav-link {
 margin-top: 1rem !important;
}
